body{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    color: blueviolet;
}

.первые_спутники_СССР{
    color: black;
    text-align: center;
}
.Sputnik{
    width: 1000px;
    height:200px ;
    border: 1px solid red ;
    position: absolute;
}
.link{
    color: black;
    text-decoration-color:none;
    border: 1px solid purple;
    padding: 10px 20px;
    border-radius: 10px;
}